<h4 class="text-center"> Register to embrace a new world!</h4>

<form #form="ngForm" [formGroup]="signUpForm" class="form mt-4" (submit) = "signup()" >
    <div class="form-group">
        <input  
        #emailInput
        formControlName="email"
        placeholder="email" 
        class="form-control" 
        autofocus >
        <ap-vmessage
            *ngIf="signUpForm.get('email').errors?.required && (form.submitted || signUpForm.get('email').touched)"
        > 
            User email is required!!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('email').errors?.email"
        > 
            User email is invalid!!
        </ap-vmessage>

    </div>

    <div class="form-group">
        <input 
        formControlName="fullName"
        placeholder="full name" 
        class="form-control">
        <ap-vmessage
            *ngIf="signUpForm.get('fullName').errors?.required && (form.submitted || signUpForm.get('fullName').touched)"
        > 
            User full name is required!!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('fullName').errors?.minlength"
        > 
            Minimun length is 2 letter!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('fullName').errors?.maxlength"
        > 
            Maximun length is 40!
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input 
        formControlName="userName"
        placeholder="user name" 
        class="form-control">
        <ap-vmessage
            *ngIf="signUpForm.get('userName').errors?.required && (form.submitted || signUpForm.get('userName').touched)"
        > 
            User name is required!!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('userName').errors?.minlength"
        > 
            Minimun length is 2!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('userName').errors?.maxlength"
        > 
            Maximun length is 40!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('userName').errors?.lowerCase"
        > 
            Must be lowercase!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('userName').errors?.userNameTaken">
            Username already taken
        </ap-vmessage>
        <small 
            *ngIf="signUpForm.get('userName').valid" 
            class="text-success">
            User available
        </small>
    </div>

    <div class="form-group">
        <input 
        formControlName="password"
        type="password" 
        placeholder="password" 
        class="form-control">
        <ap-vmessage
            *ngIf="signUpForm.get('password').errors?.required && (form.submitted || signUpForm.get('password').touched)"
        > 
            User password is required!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('password').errors?.minlength"
        > 
            Minimun length is 8 letter!
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signUpForm.get('password').errors?.maxlength"
        > 
            Maximun length is 18 letters!
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signUpForm.errors?.userNamePassword"
        >
        Username and password must be different
        </ap-vmessage>
    </div>

    <button  class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['']" mp-4> Sign In!</a></p>
</form>